
/*
TO DO Kristen?:
1) When making screen size smaller topic column alignment is not exaclty
on the center. DONE!
2) Place notification, message and account icons to the right side of 
the header. DONE!
3) Make h1 and searchbox input margin smaller.
4) Pictures open almost full screen (on click).
5) Check if each mandatory point is comlited.
*/

* {
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
}

html, body {
    margin: 75px 0 0 0;
    padding: 0;
    background-color: #f7f7f7;
}


/*----------------------------------------------*/


header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

header:hover {
	box-shadow:0 -20px 30px #4d4d4d;
}


/*----------------- Header-searcbar --------------------*/


/*Navigation bar costumization*/

nav h1 {
    display: flex;
    font-size: 2em;
    margin-left: 20px;
    width: 300px; 
    text-align: center;
    border-radius: 30px;
}

nav {
    display: flex;
    background-color: #ffffff;
    align-items: center;
}

nav div{
    height: 30px;
    flex-grow: 4;
    padding: 10px;
}

nav div.search-container > input {
    box-sizing: border-box;
    height: 40px;
    width: 70%;
    margin: 0;
    padding: 5px;
    border: 1px solid #e0e0e0;
    border-radius: 30px;
    font-size: 14pt;
}

nav div.search-container > button {
    box-sizing: border-box;
    height: 40px;
    width: 10%;
    margin: 0 5px ;
    padding: 5px;
    border: 1px solid #e0e0e0;
    border-radius: 30px;
    cursor: pointer;
    background-color: #e0e0e0;
    font-size: 12pt;
}

 nav > img{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-left: 0px;
    margin-top: 15px;
    margin-right: 20px;
    padding: 5px;
}


/*------------- Sort by topic ---------------*/


.topic_sort #horizontal_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#horizontal_list{
    padding:0;
}
#horizontal_list li{
    display: flex;              /*To loose the dots */
    margin-right: 40px;
    margin-left: 40px;
}

a:link, a:visited {
    background-color: #f44336;
    border-radius: 30px;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 140px;
    font-size: 14pt;
}

a:hover, a:active {
  background-color: red;
}


/*------------- Pictures ---------------*/


section{
    margin-bottom: 40px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.position img{
    width:32px;
}

.container img {
    width: 350px;
    height: 200px;
    margin: 10px;
    transition: all 0.8s;
}

.container img:hover {
    transform: scale(1.1);
}


/*-------------- Footer ---------------*/


footer {
    text-align: center;
}


/*-------------- Optimisation ---------------*/


@media screen and (max-width: 768px) {
    section{
        flex-direction: column;
    }
  
    nav div:last-of-type{
        display: none;
    }
    nav div:first-child img{
        width: 35px;
        object-fit: cover;
        object-position: left;
    }
}

.img-title{
    margin:10px;
    font-family: fantasy; 
}
.img-subtitle{
    margin:10px;
    font-family: "Homer Simpson UI";
}